@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#air-page{
  /* border: 1px solid yellow; */
  height: 650px;
  margin: 300px 120px;
  display: flex;
  justify-content: space-between;
  font-family: 'twayair';
}

.s-left-bgi{
  /* border: 1px solid white; */
  width: 40%;
  background-image: url(../img/airB2.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-right: 1px;
}

.left-aside{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 70%;
}

.left-aside p{
  margin-top: 20px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}


.air-search1, .air-search2{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.air-search1 input, .air-search2 input{
  width: 80%;
  height: 30px;
  text-align: center;
}

.air-select-dep, .air-select-dep-date{
  text-align: center;
}

.air-icon, .date-icon{
  display: flex;
  align-items: center;
  font-size: 30px;
}

.air-select-arr, .air-select-arr-date{
  text-align: center;
}

.air-search3{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.air-search4{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.air-select-pax-cls span{
  margin-right: 30px;
}

.air-search3 input{
  width: 100px;
  height: 30px;
  text-align: center;
}




.air-search4 input{
  background-color: black;
  border: 1px solid black;
  font-size: 25px;
  border-radius: 20px;
  padding: 10px;
  color: white;
}

.air-search4 input:hover{
  border: 1px solid #d0cef6;
  background-color: #d0cef6;
  color: black;
  cursor: pointer;
  transition: all 0.5s;
}

.air-right-aside{
  /* border: 1px solid white; */
  width: 60%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-inner{
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
  display: flex;

}

.air-right-aside img{
  width: 100%;
  height: 100%;
}
