@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#hotel-page{
 /* border: 1px solid white; */
 height: 650px;
 margin: 150px 120px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-family: 'twayair';
}

.hotel-left-aside{
  width: 60%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.carousel-inner2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel-inner2 img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.hotel-right-bgi {
  border-radius: 20px;
  width: 40%;
  height: 100%;
  background-image: url(../img/hotelB.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hotel-right-aside{
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 80%;
  border-radius: 20px;
}

.hotel-right-aside p{
  margin-top: 20px;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.hotel-search1{
  padding: 20px;
  text-align: center;
}

.hotel-search2{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.hotel-search2 i{
  display: flex;
  align-items: center;
  font-size: 30px;
}

.hotel-search2 input, .hotel-search1 input, .hotel-search3 input{
  width: 60%;
  text-align: center;
}

.hotel-search3 {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.hotel-search4{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.hotel-search4 input{
  background-color: black;
  border: 1px solid black;
  font-size: 25px;
  border-radius: 20px;
  padding: 10px;
  color: white;
}

.hotel-search4 input:hover{
  border: 1px solid #d0cef6;
  background-color: #d0cef6;
  color: black;
  cursor: pointer;
}