#air-page{
  border: 1px solid white;
  width: 100%;
  position: relative;
}

.inner-air-page{
  margin: 250px 250px;
  display: flex;
  justify-content: space-between;
}

.air-left-bgi{
  width: 45%;
  background-image: url(../img/airB2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

}
 
.air-left-aside{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}

.air-left-aside p{
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.air-search-city, .air-search-date, .air-search-type, .air-submit{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  font-size: 20px;
}

.air-select-dep input, .air-select-arr input,
.air-select-dep-date input, .air-select-arr-date input,
.air-select-pax-cls input{
  height: 30px;
  font-size: 15px;
  color: gray;
  width: 100px;
}

.air-submit input{
  font-size: 30px;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 10px;
}

.air-submit input:hover{
  background-color: #b5b2f5;
  color: black;
  transition: all 0.5s;
  padding: 10px;
}

.air-right-aside{
  width: 55%;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
}



.dep-modal{
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 900px;
  height: 350px;
  z-index: 88;
  display: none;
}

.dep-table{
  width: 100%;
  height: 100%;
  position: relative;
}


.dep-table tr:first-child{
  border-bottom: 1px solid gray;
  font-size: 25px;
  text-align: center;
}

.dep-table li{
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  margin: 15px 0;
}

.dep-table a:hover{
  color: #b5b2f5;
  transition: all 0.5s;
}

.dep-table td{
  border-right: 1px solid gray;
}

.dep-table td:last-child{
  border: none;
}

.depX{
  color: white;
  font-size: 30px;
  background: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}