#hotel-page{
  width: 100%;
  /* position: relative; */
}

.inner-hotel-page{
  margin: 250px 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 650px;
}

.hotel-left-aside{
  width: 55%;
  overflow: hidden;
  border-radius: 20px;
}

.hotel-right-bgi{
  width: 45%;
  height: 100%;
  background-image: url(../img/hotelB.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20px;
}

.hotel-right-aside{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.hotel-right-aside p{
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

.hotel-search-city, .hotel-search-room, .hotel-search-submit {
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  font-size: 20px;
}

.hotel-search-date{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  font-size: 20px;
}

.hotel-search-city input, .hotel-search-date input, .hotel-search-room input{
  width: 200px;
  height: 30px;
  font-size: 15px;
  color: gray;
}

.hotel-search-submit input{
  font-size: 30px;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 10px;
}

.hotel-search-submit input:hover{
  background-color: #b5b2f5;
  color: black;
  transition: all 0.5s;
  padding: 10px;
}
