@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: 'twayair';
}

#login-container{
  width: 100%;
  height: 100%;
}

#login-wrapper{
  width: 70%;
  margin: auto;
}

.dddd{
  width: 100%;
  margin-top: 200px;
}

.innerLogin{
  margin-top: 200px;
  width: 50%;
  margin: auto;
}

.text-login-wrap{
  width: 100%;
  height: 100%;
  text-align: center;
}

.text-login-wrap p{
  font-size: 40px;
  font-weight: bold;
}

.text-login-wrap ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.text-login-wrap ul li{
  width: 100%;
}

 #member, #nomember{
  width: 100%;
  line-height: 50px;
  border: 1px solid #b5b2f5;
  border-radius: 10px;
  background-color: black;
  color: white;
  transition: all 0.5s;
}

.form-login-wrap{
  margin-top: 30px;
}

.id-submit, .pw-submit{
  width: 100%;
  background-color: rgb(74, 74, 74);
  border-radius: 5px;
}

.id-submit::placeholder,
.pw-submit::placeholder{
  color: white;
}

.idPw-submit{
  width: 100%;
  height: 50px;
  border-radius: 10px;
}

.idPw-submit:hover{
  background-color: #b5b2f5;
  transition: all 0.3s;

}

#idPw-nomember{
  display: none;
}

.searchWrap{
  margin-top: 30px;
}

.searchWrap ul{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0; 
}

.searchWrap ul li{
  margin: 0 10px;
}

.snsWrap{
  border: 1px solid white;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.snsWrap img{
  width: 10%;
  border-radius: 100%;
  margin: 10px 10px;
}  