@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
/* font-family: 'Teko', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: 'Teko', sans-serif;
  color: white;
}

#container{
  width: 100%;
  height: 100%;
}

#wrapper{
  width: 100%;
  height: 100%;
}

#header {
  position: relative;
  border: 1px solid white;
}

#header .main-top{
  /* border: 1px solid white; */
  position: fixed;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  font-size: 30px;
  z-index: 99;
}

a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.main-nav-left ul {
  display: flex;
}

.main-nav-left ul li {
  padding: 10px;
  list-style-type: none;
}

.main-nav-right ul {
  display: flex;
}

.main-nav-right li {
  padding: 10px;
  list-style-type: none;
}

.video{
  width: 100%;
  display: flex;
  justify-content: center;
}

.video video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.top-btn{
  position: fixed;
  right: 45px;
  bottom: 45px;
  font-size: 30px;
  color: black;
  border-radius: 100%;
}

.top-btn:hover{
  border: 1px solid white;
}

#second-page{
  border: 1px solid yellow;
}
.s-l-bgi