#promotion{
  /* border: 1px solid white; */
  margin: 250px 250px;
}

#promotion a{
  color: white;
}

.promotion-title{
  display: flex;
  margin: 30px 100px;
  font-size: 35px;
}

.promotion-title h1{
  margin-right: 20px;
}


.promotion-link{
  margin: 30px 90px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; 
}

.card{
  border: 1px solid #b5b2f5;
  background-color: black;
  width: 300px;
  height: 328px;
}

.card:hover{
  background-color: #b5b2f5;
  color: black;
  transition: all 0.5s;
}

.card-body p:first-child{
  text-align: left;
  font-size: 20px;
}

.card-body p:last-child{
  font-size: 15px;
}

#notice-title {
  margin: 150px 200px 30px 200px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.notice {
  width: 30%;
}

.notice h1{
  font-size: 40px;
  text-align: center;
}

.notice ul li{
  border-bottom: 1px solid #b5b2f5;
  list-style-type: square;
  padding: 15px;
}

.notice ul li:hover{
  color: #b5b2f5;
  transition: all 0.5s;
}

.tel{
  padding: 30px;
  vertical-align: middle;
}


.tel h1 {
  font-size: 45px;
  text-align: center;
}

.tel p:nth-child(2){
  text-align: center;
  font-size: 20px;
}

.tel p{
  text-align: center;
  font-size: 15px;
}

.app{
  text-align: center;
  padding: 20px;
}

.app-btn{
  border: 1px solid #b5b2f5;
  background-color: #b5b2f5;
  color: black;
  border-radius: 10px;
  font-size: 15px;
  margin: 3px;
  padding: 5px;
}

.app-btn:hover{
  color: white;
  background-color: black;
  border: 1px solid black;
  transition: all 0.5s;
}

.sns-link-btn{
  display: flex;
  justify-content: center;
}

.link-btn{
  margin: 5px;
  padding: 5px;  
  font-size: 25px;
}

.link-btn:hover:nth-child(1){
  color: #1877f2;
  transition: all 0.5s;
}

.link-btn:hover:nth-child(2){
  color: rgb(29, 155, 240);
  transition: all 0.5s;
}

.link-btn:hover:nth-child(3){
  color: #cf251f;
  transition: all 0.5s;
}

.link-btn:hover:nth-child(4){
  transition: all 0.5s;
}
