#wrapper{
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

#air-page{
  margin-top: 200px;
  width: 100%;
  height: 600px;
  position: relative;
}

.inner-air-page{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}



/* air left */
.air-left-bgi{
  width: 45%;
  background-image: url(../../img/airB2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  position: relative;
}

.air-left-aside{
  width: 80%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,-50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.air-left-aside p{
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.select-seg{
  text-align: center;
  width: 100%;
}

.select-seg button{
  background-color: rgba(0, 0, 0, 0.8);
  color: #b5b2f5;
}

.select-seg button:hover{
  background-color: #b5b2f5;
  color: black;
  transition: all 0.3s;
}

#select-OJT{
  display: none;
}

#select-OJT div{
  display: inline-block;
}


.air-search-city, .air-search-date, .air-submit, .air-search-type{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.air-search-city div, .air-search-date div, .air-search-type div{
  margin: 0 10px;
}


#dep, #arr, #depdate, #arrdate{
  width: 100%;
  color: rgb(181, 178, 245, 0.5);
}

#dep:hover, #arr:hover, #depdate:hover, #arrdate:hover{
  background-color: #b5b2f5;
  color: black;
}

.form-select{
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(181, 178, 245, 0.5);
}


.air-submit input{
  font-size: 20px;
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 2px;
}

.air-submit input:hover{
  border: 1px solid #b5b2f5;
  background-color: #b5b2f5;
  color: black;
  transition: all 0.3s;
}





/* air right */
.air-right-aside{
  width: 55%;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.air-right-aside img{
  border-radius: 20px;
}



/* air modal */
.dep-arr-modal{
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f0f0;
  box-shadow: 0 0 20px #b5b2f5;
  color: black;
  width: 100%;
  height: 400px;
  z-index: 1;
  display: none;
  overflow: hidden;
}

.list{
  cursor: pointer;
}

.dep-arr-modal input{
  width: 100%;
  height: 15%;
  font-size: 20px;
  text-align: center;
  background-color: #f5f0f0;
  border: none;
}

.dep-arr-table{
  border-top: 1px solid gray;
  width: 100%;
  height: 85%;
  position: relative;
  margin-left: 10px;
}

.dep-arr-table tr{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.dep-arr-table ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


.dep-arr-table li{
  color: black;
  margin: 15px 0;
}

.dep-arr-table li:hover, .depX:hover{
  color: #b5b2f5;
  transition: all 0.3s;
} 

.depX {
  color: black;
  border: none;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  bottom: 20px;
}


/* 달력 */
.air-calendar{
  width: 50%;
  background-color: #f5f0f0;
  border-radius: 20px;
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display:  none;
}

.calendar-nav{
  margin: 20px 0;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

.calendar-nav-btn{
  margin: 0 20px;
  border: none;
}

.X{
  border: 1px solid #b5b2f5;
  border-radius: 100%;
  width: 40px;
  font-size: 15px;
  background-color: #b5b2f5;
}

.days{
  display: flex;
}

.day{
  width: calc(100% / 7);
  text-align: center;
  margin: 10px;
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1){
  color: rgb(209, 62, 62);
}

.day:nth-child(7n),
.date:nth-child(7n){
  color: #396EE2;
}

.dates {
  display: flex;
  flex-flow: row wrap;
}

.date{
  width: calc(100% / 7);
  text-align: center;
  padding: 15px;
  border-top: 1px solid #b5b2f5;
  border-left: 1px solid #b5b2f5;
  cursor: pointer;
}

.other {
  opacity: 0.3;
}  

.today {
  position: relative;
  color: #FFFFFF;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #FF0000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: '';
}