@font-face {
  font-family: 'twayair';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  background-color: black;
  font-family: 'twayair';
  color: white;
}

#container{
  width: 100%;
  height: 100%;
}

#wrapper{
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  color: white;
}

.main-nav-left-ul a, .main-nav-right-ul a{
  font-weight: bolder;
  font-size: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.logo-img a{
  font-size: 50px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  font-weight: bolder;
}

.logo-img a:hover{
  color: #b5b2f5;
  transition: all 0.5s;
}

#header .main-top{
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 30px;
  z-index: 100;
  transition: all 0.5s;
}

.main-nav-left ul, .main-nav-right ul {
  display: flex;
}

.main-nav-left-ul li, .main-nav-right-ul li {
  padding: 10px;
  list-style-type: none;
}

.main-nav-left-ul a:hover, .main-nav-right-ul a:hover{
  color: #b5b2f5;
  transition: all 0.5s;
}

.top-btn{
  position: fixed;
  right: 45px;
  bottom: 60px;
  font-size: 30px;
  border-radius: 100%;
  z-index: 90;
}

.top-btn a:hover{
  color: #b5b2f5;
  border-radius: 100px;
  padding: 5px;
  transition: all 0.5s;
}


.video{
  width: 100%;
  display: flex;
  justify-content: center;
}

.video video{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
